# Ignorar todo por defecto
/*

# Excepciones: las 3 carpetas del proyecto + archivos esenciales
!/class & java/
!/docs/
!/data/
!.gitignore
!README.md

# Ignorar archivos temporales y de sistema dentro de las carpetas permitidas
**/.DS_Store
~$*
